[user]
name = "Davide Aversa"
email = "thek3nger@gmail.com"

[ui]
merge-editor = "vscode"
default-command = "log"
diff-editor = ["nvim", "-c", "DiffEditor $left $right $output"]

[signing]
behavior = "own"
backend = "ssh"
{{ if eq .chezmoi.os "darwin" -}}
backends.ssh.program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
key = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMvVdJs4HZOaE/6qEPJ9Vb4TVyY1x3Jp9ZEpZLK2YlbK"
{{ else if eq .chezmoi.os "linux" -}}
key = "~/.ssh/id_ed25519.pub"
{{ end -}}

[revset-aliases]
'closest_bookmark(to)' = 'heads(::to & bookmarks())'

[aliases]
tug = ["bookmark", "move", "--from", "closest_bookmark(@-)", "--to", "@-"]

[merge-tools.mergiraf]
program = "mergiraf"
merge-args = ["merge", "$base", "$left", "$right", "-o", "$output", "--fast"]
merge-conflict-exit-codes = [1]
conflict-marker-style = "git"

[merge-tools.diffconflicts]
program = "nvim"
merge-args = [
    "-c", "let g:jj_diffconflicts_marker_length=$marker_length",
    "-c", "JJDiffConflicts!", "$output", "$base", "$left", "$right",
]
merge-tool-edits-conflict-markers = true
